<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsq.store.common.mapper.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.wsq.store.common.domain.user.RolePermission" >
    <id column="FId" property="FId" jdbcType="BIGINT" />
    <result column="FRoleId" property="FRoleId" jdbcType="BIGINT" />
    <result column="FPermission" property="FPermission" jdbcType="VARCHAR" />
    <result column="FCreateTime" property="FCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    FId, FRoleId, FPermission, FCreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_store_rolepermission
    where FId = #{FId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_store_rolepermission
    where FId = #{FId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wsq.store.common.domain.user.RolePermission" >
    insert into t_store_rolepermission (FId, FRoleId, FPermission, 
      FCreateTime)
    values (#{FId,jdbcType=BIGINT}, #{FRoleId,jdbcType=BIGINT}, #{FPermission,jdbcType=VARCHAR}, 
      #{FCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wsq.store.common.domain.user.RolePermission" >
    insert into t_store_rolepermission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FId != null" >
        FId,
      </if>
      <if test="FRoleId != null" >
        FRoleId,
      </if>
      <if test="FPermission != null" >
        FPermission,
      </if>
      <if test="FCreateTime != null" >
        FCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FId != null" >
        #{FId,jdbcType=BIGINT},
      </if>
      <if test="FRoleId != null" >
        #{FRoleId,jdbcType=BIGINT},
      </if>
      <if test="FPermission != null" >
        #{FPermission,jdbcType=VARCHAR},
      </if>
      <if test="FCreateTime != null" >
        #{FCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsq.store.common.domain.user.RolePermission" >
    update t_store_rolepermission
    <set >
      <if test="FRoleId != null" >
        FRoleId = #{FRoleId,jdbcType=BIGINT},
      </if>
      <if test="FPermission != null" >
        FPermission = #{FPermission,jdbcType=VARCHAR},
      </if>
      <if test="FCreateTime != null" >
        FCreateTime = #{FCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FId = #{FId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsq.store.common.domain.user.RolePermission" >
    update t_store_rolepermission
    set FRoleId = #{FRoleId,jdbcType=BIGINT},
      FPermission = #{FPermission,jdbcType=VARCHAR},
      FCreateTime = #{FCreateTime,jdbcType=TIMESTAMP}
    where FId = #{FId,jdbcType=BIGINT}
  </update>
</mapper>